{
  "openapi": "3.0.1",
  "info": {
    "title": "Content APIs",
    "description": "Quran.Foundation Content APIs offer programmatic access to the Quran's core content like chapters, verses, recitations, translations, and more, distinct from user-specific data like notes and bookmarks provided by [User-related APIs](/docs/category/user-related-apis).\n\n:::important Integrity of Translations\nPlease **disable any automatic browser-translation features** (e.g. Google-Translate-in-Chrome) when displaying text returned by the *Translations* endpoints.  \nRe-translating an already vetted Quranic translation can introduce serious semantic errors.\n:::\n\n ## How to get access \n\n We are using OAuth2 flows to authenticate and authorize requests. To get started, you need to [get an access token](/docs/tutorials/oidc/getting-started-with-oauth2#obtaining-oauth-20-client-credentials) to make requests to our APIs. Since the APIs are not user-related, you will need to use the `client_credentials` grant type and [`content` scope](/docs/user_related_apis_versioned/scopes#content) when sending a request to [The OAuth 2.0 Token Endpoint](/docs/oauth2_apis_versioned/oauth-2-token-exchange) to get the access token. The below diagram shows the flow of getting an access token using the `client_credentials` grant type in a very simplified way.\n\n ![Client Credentials Flow](/img/client-credentials-flow.png) After getting a valid access token, each request to get resources will have to include 2 headers mentioned below: `x-auth-token` and `x-client-id`.",
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://apis-prelive.quran.foundation/content/api/v4",
      "description": "Pre-production Server"
    },
    {
      "url": "https://apis.quran.foundation/content/api/v4",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "x-auth-token": [],
      "x-client-id": []
    }
  ],
  "paths": {
    "/chapter_recitations/{id}/{chapter_number}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Get chapter's audio file of a reciter",
        "description": "Get chapter's audio file of a reciter. Supports `segments` (boolean query param; default `false`). When `segments=true`, verse-level timestamp entries include `segments` ([word_index, start_ms, end_ms]). All time values are milliseconds.",
        "operationId": "chapter-reciter-audio-file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "chapter_number",
            "in": "path",
            "description": "The number of the chapter",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, each verse timestamp includes a `segments` array of [word_index, start_ms, end_ms] triplets. Time values are in milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterReciterAudioFileResponse"
                },
                "examples": {
                  "default_no_segments": {
                    "summary": "segments=false (default)",
                    "value": {
                      "audio_file": {
                        "id": 457,
                        "chapter_id": 1,
                        "file_size": 710784.0,
                        "format": "mp3",
                        "audio_url": "https://download.quranicaudio.com/qdc/abu_bakr_shatri/murattal/1.mp3"
                      }
                    }
                  },
                  "with_segments_true": {
                    "summary": "segments=true (includes timestamps + segments)",
                    "value": {
                      "audio_file": {
                        "id": 457,
                        "chapter_id": 1,
                        "file_size": 710784.0,
                        "format": "mp3",
                        "audio_url": "https://download.quranicaudio.com/qdc/abu_bakr_shatri/murattal/1.mp3",
                        "timestamps": [
                          {
                            "verse_key": "1:1",
                            "timestamp_from": 0,
                            "timestamp_to": 6493,
                            "duration": -6493,
                            "segments": [
                              [
                                1,
                                0,
                                630
                              ],
                              [
                                2,
                                650,
                                1570
                              ],
                              [
                                3,
                                1570,
                                3110
                              ],
                              [
                                4,
                                3110,
                                5590
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:2",
                            "timestamp_from": 6493,
                            "timestamp_to": 11546,
                            "duration": -5053,
                            "segments": [
                              [
                                1,
                                6493,
                                7243
                              ],
                              [
                                2,
                                7243,
                                8123
                              ],
                              [
                                3,
                                8143,
                                8723
                              ],
                              [
                                4,
                                8723,
                                11193
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:3",
                            "timestamp_from": 11546,
                            "timestamp_to": 15985,
                            "duration": -4439,
                            "segments": [
                              [
                                1,
                                11546,
                                12806
                              ],
                              [
                                2,
                                12916,
                                15366
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:4",
                            "timestamp_from": 15985,
                            "timestamp_to": 21521,
                            "duration": -5536,
                            "segments": [
                              [
                                1,
                                15985,
                                16505
                              ],
                              [
                                2,
                                16705,
                                17235
                              ],
                              [
                                3,
                                17265,
                                19155
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:5",
                            "timestamp_from": 21521,
                            "timestamp_to": 27835,
                            "duration": -6314,
                            "segments": [
                              [
                                1,
                                21521,
                                22591
                              ],
                              [
                                2,
                                22591,
                                23471
                              ],
                              [
                                3,
                                23631,
                                25001
                              ],
                              [
                                4,
                                25001,
                                27391
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:6",
                            "timestamp_from": 27835,
                            "timestamp_to": 33388,
                            "duration": -5553,
                            "segments": [
                              [
                                1,
                                27835,
                                28265
                              ],
                              [
                                2,
                                28265,
                                29405
                              ],
                              [
                                3,
                                29405,
                                32545
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:7",
                            "timestamp_from": 33388,
                            "timestamp_to": 53092,
                            "duration": -19704,
                            "segments": [
                              [
                                1,
                                33388,
                                34338
                              ],
                              [
                                2,
                                34338,
                                35448
                              ],
                              [
                                3,
                                35518,
                                36698
                              ],
                              [
                                4,
                                36718,
                                38678
                              ],
                              [
                                5,
                                38678,
                                39608
                              ],
                              [
                                6,
                                39628,
                                41638
                              ],
                              [
                                7,
                                41638,
                                43778
                              ],
                              [
                                8,
                                43778,
                                44218
                              ],
                              [
                                9,
                                44338,
                                51818
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/chapter_recitations/{id}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "List of all chapter audio files of a reciter",
        "description": "Get list of chapters' audio files of a reciter",
        "operationId": "chapter-reciter-audio-files",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "audio_files"
                  ],
                  "type": "object",
                  "properties": {
                    "audio_files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chapter-recitation"
                      }
                    }
                  }
                },
                "example": {
                  "audio_files": [
                    {
                      "id": 43,
                      "chapter_id": 22,
                      "file_size": 19779712,
                      "format": "mp3",
                      "total_files": 1,
                      "audio_url": "https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee//022.mp3"
                    },
                    {
                      "id": 87,
                      "chapter_id": 44,
                      "file_size": 6453376,
                      "format": "mp3",
                      "total_files": 1,
                      "audio_url": "https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee//044.mp3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/chapters": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "List Chapters",
        "description": "Get list of Chapter.",
        "operationId": "list-chapters",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "chapters"
                  ],
                  "properties": {
                    "chapters": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chapter"
                      }
                    }
                  }
                },
                "example": {
                  "chapters": [
                    {
                      "id": 1,
                      "revelation_place": "makkah",
                      "revelation_order": 5,
                      "bismillah_pre": false,
                      "name_simple": "Al-Fatihah",
                      "name_complex": "Al-Fātiĥah",
                      "name_arabic": "الفاتحة",
                      "verses_count": 7,
                      "pages": [
                        1,
                        1
                      ],
                      "translated_name": {
                        "language_name": "english",
                        "name": "The Opener"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/chapters/{id}": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "Get Chapter",
        "description": "Get details of a single Chapter.",
        "operationId": "GET-chapter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Chapter ID ( 1-114)",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter": {
                      "$ref": "#/components/schemas/chapter"
                    }
                  }
                },
                "example": {
                  "chapter": {
                    "id": 1,
                    "revelation_place": "makkah",
                    "revelation_order": 5,
                    "bismillah_pre": false,
                    "name_simple": "Al-Fatihah",
                    "name_complex": "Al-Fātiĥah",
                    "name_arabic": "الفاتحة",
                    "verses_count": 7,
                    "pages": [
                      1,
                      1
                    ],
                    "translated_name": {
                      "language_name": "english",
                      "name": "The Opener"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/chapters/{id}/info": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "Get Chapter Info",
        "description": "Get Chapter Info in specific language. Default to `English`.",
        "operationId": "get-chapter-info",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Chapter number (1-114)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language ISO code for translated metadata. Defaults to English."
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Locale fallback if a language code is not provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter_info": {
                      "$ref": "#/components/schemas/chapter-info"
                    }
                  }
                },
                "example": {
                  "chapter_info": {
                    "id": 1,
                    "chapter_id": 1,
                    "language_name": "english",
                    "short_text": "This Surah is named Al-Fatihah because of its subject-matter. Fatihah is that which opens a subject or a book or any other thing. In other words, Al-Fatihah is a sort of preface.",
                    "source": "Sayyid Abul Ala Maududi - Tafhim al-Qur'an - The Meaning of the Quran",
                    "text": "<h2>Name</h2>\r\n<p>This Surah is named Al-Fatihah because of its subject-matter. Fatihah is that which opens a subject or a book or any other thing. In other words, Al-Fatihah is a sort of preface.</p>\r\n<h2>Period of Revelation</h2>..."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_chapter/{chapter_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Chapter",
        "description": "Get list of Verse(s) by Chapter / Surah number.",
        "operationId": "verses-by_chapter_number",
        "parameters": [
          {
            "name": "chapter_number",
            "in": "path",
            "description": "Chapter number ( 1  - 114 )",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_page/{page_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Page",
        "description": "Get all verses of a specific Madani Mushaf page(1 to 604)",
        "operationId": "verses-by_page_number",
        "parameters": [
          {
            "name": "page_number",
            "in": "path",
            "description": "Madani Mushaf page number. Valid range is 1-604 ",
            "required": true,
            "schema": {
              "maximum": 604,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": true,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_juz/{juz_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Juz",
        "description": "Get all verses from a specific juz(1-30).",
        "operationId": "verses-by_juz_number",
        "parameters": [
          {
            "name": "juz_number",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 30,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_hizb/{hizb_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Hizb number",
        "description": "Get all verses from a specific Hizb( half(1-60).",
        "operationId": "verses-by_hizb_number",
        "parameters": [
          {
            "name": "hizb_number",
            "in": "path",
            "description": "Hizb number(1-60)",
            "required": true,
            "schema": {
              "maximum": 60,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_rub/{rub_el_hizb_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Rub el Hizb number",
        "description": "Get all verses of a specific Rub el Hizb number(1-240).",
        "operationId": "verses-by_rub_el_hizb_number",
        "parameters": [
          {
            "name": "rub_el_hizb_number",
            "in": "path",
            "description": "Rub el Hizb number(1-240)",
            "required": true,
            "schema": {
              "maximum": 240,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_ruku/{ruku_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Ruku",
        "description": "Get all verses in a specific ruku (1-558).",
        "operationId": "verses-by_ruku_number",
        "parameters": [
          {
            "name": "ruku_number",
            "in": "path",
            "description": "Ruku number (1-558)",
            "required": true,
            "schema": {
              "maximum": 558,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 8,
                      "verse_number": 1,
                      "verse_key": "2:1",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "الٓمّٓۚ‏",
                      "page_number": 2,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002001.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            30,
                            7080
                          ]
                        ]
                      }
                    },
                    {
                      "id": 9,
                      "verse_number": 2,
                      "verse_key": "2:2",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "ذٰلِكَ الۡڪِتٰبُ لَا رَيۡبَۛۚۖ فِيۡهِۛۚ هُدًى لِّلۡمُتَّقِيۡنَۙ‏",
                      "page_number": 2,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002002.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            150,
                            860
                          ],
                          [
                            1,
                            2,
                            870,
                            1820
                          ],
                          [
                            2,
                            3,
                            1830,
                            2130
                          ],
                          [
                            3,
                            4,
                            2140,
                            2680
                          ],
                          [
                            4,
                            5,
                            2690,
                            4980
                          ],
                          [
                            5,
                            6,
                            4990,
                            5180
                          ],
                          [
                            6,
                            7,
                            5190,
                            8610
                          ]
                        ]
                      }
                    },
                    {
                      "id": 10,
                      "verse_number": 3,
                      "verse_key": "2:3",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "الَّذِيۡنَ يُؤۡمِنُوۡنَ بِالۡغَيۡبِ وَ يُقِيۡمُوۡنَ الصَّلٰوةَ وَمِمَّا رَزَقۡنٰهُمۡ يُن۫فِقُوۡنَۙ‏",
                      "page_number": 2,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002003.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            30,
                            1010
                          ],
                          [
                            1,
                            2,
                            1020,
                            2120
                          ],
                          [
                            2,
                            3,
                            2130,
                            3070
                          ],
                          [
                            3,
                            4,
                            3080,
                            4200
                          ],
                          [
                            4,
                            5,
                            4210,
                            5130
                          ],
                          [
                            5,
                            6,
                            5140,
                            6570
                          ],
                          [
                            6,
                            7,
                            6580,
                            7930
                          ],
                          [
                            7,
                            8,
                            7940,
                            11060
                          ]
                        ]
                      }
                    },
                    {
                      "id": 11,
                      "verse_number": 4,
                      "verse_key": "2:4",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "وَالَّذِيۡنَ يُؤۡمِنُوۡنَ بِمَۤا اُنۡزِلَ اِلَيۡكَ وَمَاۤ اُنۡزِلَ مِنۡ قَبۡلِكَۚ وَبِالۡاٰخِرَةِ هُمۡ يُوۡقِنُوۡنَؕ‏",
                      "page_number": 2,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002004.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            50,
                            1120
                          ],
                          [
                            1,
                            2,
                            1130,
                            2190
                          ],
                          [
                            2,
                            3,
                            2200,
                            3920
                          ],
                          [
                            3,
                            4,
                            3930,
                            5250
                          ],
                          [
                            4,
                            5,
                            5260,
                            5960
                          ],
                          [
                            5,
                            6,
                            5970,
                            6180
                          ],
                          [
                            6,
                            7,
                            6190,
                            9020
                          ],
                          [
                            7,
                            8,
                            9030,
                            9830
                          ],
                          [
                            8,
                            9,
                            9840,
                            10640
                          ],
                          [
                            9,
                            10,
                            10650,
                            12110
                          ],
                          [
                            10,
                            11,
                            12120,
                            12460
                          ],
                          [
                            11,
                            12,
                            12470,
                            15480
                          ]
                        ]
                      }
                    },
                    {
                      "id": 12,
                      "verse_number": 5,
                      "verse_key": "2:5",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "اُولٰٓٮِٕكَ عَلٰى هُدًى مِّنۡ رَّبِّهِمۡ​ وَاُولٰٓٮِٕكَ هُمُ الۡمُفۡلِحُوۡنَ‏ ﻿﻿",
                      "page_number": 2,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002005.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            70,
                            2490
                          ],
                          [
                            1,
                            2,
                            2500,
                            3030
                          ],
                          [
                            2,
                            3,
                            3040,
                            3480
                          ],
                          [
                            3,
                            4,
                            3490,
                            4240
                          ],
                          [
                            4,
                            5,
                            4250,
                            5490
                          ],
                          [
                            5,
                            6,
                            5500,
                            7970
                          ],
                          [
                            6,
                            7,
                            7980,
                            8380
                          ],
                          [
                            7,
                            8,
                            8390,
                            10970
                          ]
                        ]
                      }
                    },
                    {
                      "id": 13,
                      "verse_number": 6,
                      "verse_key": "2:6",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "اِنَّ الَّذِيۡنَ كَفَرُوۡا سَوَآءٌ عَلَيۡهِمۡ ءَاَنۡذَرۡتَهُمۡ اَمۡ لَمۡ تُنۡذِرۡهُمۡ لَا يُؤۡمِنُوۡنَ‏",
                      "page_number": 3,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002006.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            30,
                            1260
                          ],
                          [
                            1,
                            2,
                            1270,
                            2150
                          ],
                          [
                            2,
                            3,
                            2160,
                            2880
                          ],
                          [
                            3,
                            4,
                            2890,
                            4950
                          ],
                          [
                            4,
                            5,
                            4960,
                            5880
                          ],
                          [
                            5,
                            6,
                            5890,
                            7780
                          ],
                          [
                            6,
                            7,
                            7790,
                            8090
                          ],
                          [
                            7,
                            8,
                            8100,
                            8430
                          ],
                          [
                            8,
                            9,
                            8440,
                            10080
                          ],
                          [
                            9,
                            10,
                            10090,
                            10430
                          ],
                          [
                            10,
                            11,
                            10440,
                            12340
                          ]
                        ]
                      }
                    },
                    {
                      "id": 14,
                      "verse_number": 7,
                      "verse_key": "2:7",
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "ruku_number": 2,
                      "manzil_number": 1,
                      "sajdah_number": null,
                      "text_indopak": "خَتَمَ اللّٰهُ عَلَىٰ قُلُوۡبِهِمۡ وَعَلٰى سَمۡعِهِمۡ​ؕ وَعَلٰىٓ اَبۡصَارِهِمۡ غِشَاوَةٌ  وَّلَهُمۡ عَذَابٌ عَظِيۡمٌ‏",
                      "page_number": 3,
                      "juz_number": 1,
                      "audio": {
                        "url": "Alafasy/mp3/002007.mp3",
                        "segments": [
                          [
                            0,
                            1,
                            140,
                            660
                          ],
                          [
                            1,
                            2,
                            670,
                            1390
                          ],
                          [
                            2,
                            3,
                            1400,
                            1950
                          ],
                          [
                            3,
                            4,
                            1960,
                            3140
                          ],
                          [
                            4,
                            5,
                            3150,
                            3820
                          ],
                          [
                            5,
                            6,
                            3830,
                            5210
                          ],
                          [
                            6,
                            7,
                            5220,
                            6900
                          ],
                          [
                            7,
                            8,
                            6910,
                            8250
                          ],
                          [
                            8,
                            9,
                            8260,
                            9580
                          ],
                          [
                            9,
                            10,
                            9590,
                            10260
                          ],
                          [
                            10,
                            11,
                            10270,
                            11230
                          ],
                          [
                            11,
                            12,
                            11240,
                            12940
                          ]
                        ]
                      }
                    }
                  ],
                  "pagination": {
                    "per_page": 7,
                    "current_page": 1,
                    "next_page": null,
                    "total_pages": 1,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/by_key/{verse_key}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Specific Verse By Key",
        "description": "Get a specific ayah with key. Key is combination of surah number and ayah number. 1:1 is first ayah of first surah for example.\n\n10:5 is 5th ayah of 10th surah.",
        "operationId": "verses-by_verse_key",
        "parameters": [
          {
            "name": "verse_key",
            "in": "path",
            "description": "Verse key ( chapter:verse) ",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "verse"
                  ],
                  "type": "object",
                  "properties": {
                    "verse": {
                      "$ref": "#/components/schemas/verse"
                    }
                  }
                },
                "example": {
                  "verse": {
                    "id": 1,
                    "verse_number": 1,
                    "page_number": 1,
                    "verse_key": "1:1",
                    "juz_number": 1,
                    "hizb_number": 1,
                    "rub_el_hizb_number": 1,
                    "sajdah_type": null,
                    "sajdah_number": null,
                    "words": [
                      {
                        "id": 1,
                        "position": 1,
                        "audio_url": "wbw/001_001_001.mp3",
                        "char_type_name": "word",
                        "line_number": 2,
                        "page_number": 1,
                        "code_v1": "&#xfb51;",
                        "translation": {
                          "text": "In (the) name",
                          "language_name": "english"
                        },
                        "transliteration": {
                          "text": "bis'mi",
                          "language_name": "english"
                        }
                      }
                    ],
                    "translations": [
                      {
                        "resource_id": 131,
                        "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                      }
                    ],
                    "tafsirs": [
                      {
                        "id": 82641,
                        "language_name": "english",
                        "name": "Tafsir Ibn Kathir",
                        "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/verses/random": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "Get random ayah",
        "description": "Get a random verse. You can get random verse from a specific `chapter`,`page`, `juz`, `hizb`, `rub-el-hizb`, `ruku`, `manzil`, or from whole Quran.",
        "operationId": "random_verse",
        "parameters": [
          {
            "name": "chapter_number",
            "in": "query",
            "description": "Return a random verse **only from the specified chapter (sūrah)**.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "Return a random verse **only from the specified Muṣḥaf page** (1 – 604).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 604
            }
          },
          {
            "name": "juz_number",
            "in": "query",
            "description": "Return a random verse **only from the specified juzʾ** (1 – 30).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 30
            }
          },
          {
            "name": "hizb_number",
            "in": "query",
            "description": "Return a random verse **only from the specified ḥizb** (1 – 60).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60
            }
          },
          {
            "name": "rub_el_hizb_number",
            "in": "query",
            "description": "Return a random verse **only from the specified rubʿ al-ḥizb** (1 – 240).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 240
            }
          },
          {
            "name": "ruku_number",
            "in": "query",
            "description": "Return a random verse **only from the specified rukūʿ**.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "manzil_number",
            "in": "query",
            "description": "Return a random verse **only from the specified manzil** (1 – 7).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word translation in specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? \n\n0 or false will not include words.\n\n1 or true will include the words.",
            "schema": {
              "type": "string",
              "default": "true",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See /resources/translations for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See /resources/tafsirs for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "verse"
                  ],
                  "type": "object",
                  "properties": {
                    "verse": {
                      "$ref": "#/components/schemas/verse"
                    }
                  }
                },
                "example": {
                  "verse": {
                    "id": 1,
                    "verse_number": 1,
                    "page_number": 1,
                    "verse_key": "1:1",
                    "juz_number": 1,
                    "hizb_number": 1,
                    "rub_el_hizb_number": 1,
                    "sajdah_type": null,
                    "sajdah_number": null,
                    "words": [
                      {
                        "id": 1,
                        "position": 1,
                        "audio_url": "wbw/001_001_001.mp3",
                        "char_type_name": "word",
                        "line_number": 2,
                        "page_number": 1,
                        "code_v1": "&#xfb51;",
                        "translation": {
                          "text": "In (the) name",
                          "language_name": "english"
                        },
                        "transliteration": {
                          "text": "bis'mi",
                          "language_name": "english"
                        }
                      }
                    ],
                    "translations": [
                      {
                        "resource_id": 131,
                        "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                      }
                    ],
                    "tafsirs": [
                      {
                        "id": 82641,
                        "language_name": "english",
                        "name": "Tafsir Ibn Kathir",
                        "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          }
        }
      }
    },
    "/juzs": {
      "get": {
        "tags": [
          "Juz"
        ],
        "summary": "List Juzs",
        "description": "Get list of all Juzs with verse boundaries.",
        "operationId": "list-juzs",
        "parameters": [
          {
            "name": "mushaf",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Optional mushaf identifier (alias: mushaf_id) to select the verse mapping set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "juzs"
                  ],
[...]
