{
  "openapi": "3.0.1",
  "info": {
    "title": "Content APIs",
    "description": "Quran.Foundation Content APIs offer programmatic access to the Quran's core content like chapters, verses, recitations, translations, and more, distinct from user-specific data like notes and bookmarks provided by [User-related APIs](/docs/category/user-related-apis).\n\n:::important Integrity of Translations\nPlease **disable any automatic browser-translation features** (e.g. Google-Translate-in-Chrome) when displaying text returned by the *Translations* endpoints.  \nRe-translating an already vetted Quranic translation can introduce serious semantic errors.\n:::\n\n ## How to get access \n\n We are using OAuth2 flows to authenticate and authorize requests. To get started, you need to [get an access token](/docs/tutorials/oidc/getting-started-with-oauth2#obtaining-oauth-20-client-credentials) to make requests to our APIs. Since the APIs are not user-related, you will need to use the `client_credentials` grant type and [`content` scope](/docs/user_related_apis_versioned/scopes#content) when sending a request to [The OAuth 2.0 Token Endpoint](/docs/oauth2_apis_versioned/oauth-2-token-exchange) to get the access token. \n\n```mermaid\nsequenceDiagram\n    participant App as Your App\n    participant Auth as Quran.Foundation<br/>Authorization Server\n    participant API as Quran.Foundation<br/>Resources Server\n\n    App->>Auth: Request Token with Client Credentials\n    Auth-->>App: Token Response (access_token)\n    App->>API: Use token to call API\n    API-->>App: Requested resource\n\n    Note over App,Auth: Access token expires (1 hour)\n\n    App->>Auth: Re-issue access_token using client_credentials\n    Auth-->>App: New access_token\n```\n\n After getting a valid access token, each request to get resources will have to include 2 headers mentioned below: `x-auth-token` and `x-client-id`.",
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://apis-prelive.quran.foundation/content/api/v4",
      "description": "Pre-production Server"
    },
    {
      "url": "https://apis.quran.foundation/content/api/v4",
      "description": "Production Server"
    }
  ],
  "security": [
    {
      "x-auth-token": [],
      "x-client-id": []
    }
  ],
  "paths": {
    "/chapter_recitations/{id}/{chapter_number}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Get chapter's audio file of a reciter",
        "description": "Get chapter's audio file of a reciter. Supports `segments` (boolean query param; default `false`). When `segments=true`, verse-level timestamp entries include `segments` ([word_index, start_ms, end_ms]). All time values are milliseconds.",
        "operationId": "chapter-reciter-audio-file",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "chapter_number",
            "in": "path",
            "description": "The number of the chapter",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, each verse timestamp includes a `segments` array of [word_index, start_ms, end_ms] triplets. Time values are in milliseconds."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChapterReciterAudioFileResponse"
                },
                "examples": {
                  "default_no_segments": {
                    "summary": "segments=false (default)",
                    "value": {
                      "audio_file": {
                        "id": 457,
                        "chapter_id": 1,
                        "file_size": 710784,
                        "format": "mp3",
                        "audio_url": "https://download.quranicaudio.com/qdc/abu_bakr_shatri/murattal/1.mp3"
                      }
                    }
                  },
                  "with_segments_true": {
                    "summary": "segments=true (includes timestamps + segments)",
                    "value": {
                      "audio_file": {
                        "id": 457,
                        "chapter_id": 1,
                        "file_size": 710784,
                        "format": "mp3",
                        "audio_url": "https://download.quranicaudio.com/qdc/abu_bakr_shatri/murattal/1.mp3",
                        "timestamps": [
                          {
                            "verse_key": "1:1",
                            "timestamp_from": 0,
                            "timestamp_to": 6493,
                            "duration": -6493,
                            "segments": [
                              [
                                1,
                                0,
                                630
                              ],
                              [
                                2,
                                650,
                                1570
                              ],
                              [
                                3,
                                1570,
                                3110
                              ],
                              [
                                4,
                                3110,
                                5590
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:2",
                            "timestamp_from": 6493,
                            "timestamp_to": 11546,
                            "duration": -5053,
                            "segments": [
                              [
                                1,
                                6493,
                                7243
                              ],
                              [
                                2,
                                7243,
                                8123
                              ],
                              [
                                3,
                                8143,
                                8723
                              ],
                              [
                                4,
                                8723,
                                11193
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:3",
                            "timestamp_from": 11546,
                            "timestamp_to": 15985,
                            "duration": -4439,
                            "segments": [
                              [
                                1,
                                11546,
                                12806
                              ],
                              [
                                2,
                                12916,
                                15366
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:4",
                            "timestamp_from": 15985,
                            "timestamp_to": 21521,
                            "duration": -5536,
                            "segments": [
                              [
                                1,
                                15985,
                                16505
                              ],
                              [
                                2,
                                16705,
                                17235
                              ],
                              [
                                3,
                                17265,
                                19155
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:5",
                            "timestamp_from": 21521,
                            "timestamp_to": 27835,
                            "duration": -6314,
                            "segments": [
                              [
                                1,
                                21521,
                                22591
                              ],
                              [
                                2,
                                22591,
                                23471
                              ],
                              [
                                3,
                                23631,
                                25001
                              ],
                              [
                                4,
                                25001,
                                27391
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:6",
                            "timestamp_from": 27835,
                            "timestamp_to": 33388,
                            "duration": -5553,
                            "segments": [
                              [
                                1,
                                27835,
                                28265
                              ],
                              [
                                2,
                                28265,
                                29405
                              ],
                              [
                                3,
                                29405,
                                32545
                              ]
                            ]
                          },
                          {
                            "verse_key": "1:7",
                            "timestamp_from": 33388,
                            "timestamp_to": 53092,
                            "duration": -19704,
                            "segments": [
                              [
                                1,
                                33388,
                                34338
                              ],
                              [
                                2,
                                34338,
                                35448
                              ],
                              [
                                3,
                                35518,
                                36698
                              ],
                              [
                                4,
                                36718,
                                38678
                              ],
                              [
                                5,
                                38678,
                                39608
                              ],
                              [
                                6,
                                39628,
                                41638
                              ],
                              [
                                7,
                                41638,
                                43778
                              ],
                              [
                                8,
                                43778,
                                44218
                              ],
                              [
                                9,
                                44338,
                                51818
                              ]
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get chapter's audio file of a reciter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, chapter_number, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapter_recitations/7/1`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", \"1\", {\"segments\":\"true\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get chapter's audio file of a reciter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, chapter_number, segments=None):\n    params = {k: v for k, v in {'segments': segments}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapter_recitations/7/1',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", \"1\", segments=\"true\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get chapter's audio file of a reciter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapter_recitations/7/1?segments=true' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get chapter's audio file of a reciter using the Quran Foundation API.\n\nEndpoint: GET /chapter_recitations/{id}/{chapter_number}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: The Id of the reciter (e.g., \"7\")\n  chapter_number: The number of the chapter (e.g., \"1\")\nOptional Query Parameters:\n  segments: If true, each verse timestamp includes a `segments` array of [word_index, start_ms, end_ms] triplets. Time values are in milliseconds.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapter_recitations/{id}/{chapter_number}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id, chapter_number and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapter_recitations/{id}": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "List of all chapter audio files of a reciter",
        "description": "Get list of chapters' audio files of a reciter",
        "operationId": "chapter-reciter-audio-files",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "audio_files"
                  ],
                  "type": "object",
                  "properties": {
                    "audio_files": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chapter-recitation"
                      }
                    }
                  }
                },
                "example": {
                  "audio_files": [
                    {
                      "id": 43,
                      "chapter_id": 22,
                      "file_size": 19779712,
                      "format": "mp3",
                      "total_files": 1,
                      "audio_url": "https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee//022.mp3"
                    },
                    {
                      "id": 87,
                      "chapter_id": 44,
                      "file_size": 6453376,
                      "format": "mp3",
                      "total_files": 1,
                      "audio_url": "https://download.quranicaudio.com/quran/abdullaah_3awwaad_al-juhaynee//044.mp3"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// List of all chapter audio files of a reciter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapter_recitations/7`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", {\"language\":\"en\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# List of all chapter audio files of a reciter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, language=None):\n    params = {k: v for k, v in {'language': language}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapter_recitations/7',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", language=\"en\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# List of all chapter audio files of a reciter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapter_recitations/7?language=en' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to list of all chapter audio files of a reciter using the Quran Foundation API.\n\nEndpoint: GET /chapter_recitations/{id}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: The Id of the reciter (e.g., \"7\")\nOptional Query Parameters:\n  language: Optional parameter\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapter_recitations/{id}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/audio/reciters/{reciter_id}/timestamp": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Get timestamp range",
        "description": "Find the timestamp range for a reciter's audio. Provide a `chapter_number` to get the full chapter range, or a `verse_key`/`verse_id` to scope to a verse. Use `word` or (`word_from`,`word_to`) to narrow to word timings. All time values are milliseconds.",
        "operationId": "audio-reciter-timestamp",
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chapter_number",
            "in": "query",
            "description": "Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "verse_key",
            "in": "query",
            "description": "Verse key (e.g., 2:255). If provided, returns the verse timing range.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verse_id",
            "in": "query",
            "description": "Verse id. If provided, returns the verse timing range.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "word",
            "in": "query",
            "description": "1-based word index within the verse. Only applies when a verse is selected.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "word_from",
            "in": "query",
            "description": "1-based start word index within the verse. Use with `word_to`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "word_to",
            "in": "query",
            "description": "1-based end word index within the verse. Use with `word_from`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "timestamp_from": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Start offset in milliseconds from the beginning of the file."
                        },
                        "timestamp_to": {
                          "type": "integer",
                          "format": "int32",
                          "description": "End offset in milliseconds from the beginning of the file."
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "timestamp_from": 0,
                    "timestamp_to": 6493
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get timestamp range\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(reciter_id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/audio/reciters/7/timestamp`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", {\"chapter_number\":\"1\",\"verse_key\":\"2:255\",\"verse_id\":\"262\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get timestamp range\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(reciter_id, chapter_number=None, verse_key=None, verse_id=None):\n    params = {k: v for k, v in {'chapter_number': chapter_number, 'verse_key': verse_key, 'verse_id': verse_id}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/audio/reciters/7/timestamp',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", chapter_number=\"1\", verse_key=\"2:255\", verse_id=\"262\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get timestamp range\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/audio/reciters/7/timestamp?chapter_number=1&verse_key=2%3A255&verse_id=262' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get timestamp range using the Quran Foundation API.\n\nEndpoint: GET /audio/reciters/{reciter_id}/timestamp\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  reciter_id: The Id of the reciter (e.g., \"7\")\nOptional Query Parameters:\n  chapter_number: Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.\n  verse_key: Verse key (e.g., 2:255). If provided, returns the verse timing range.\n  verse_id: Verse id. If provided, returns the verse timing range.\n  word: 1-based word index within the verse. Only applies when a verse is selected.\n  word_from: 1-based start word index within the verse. Use with `word_to`.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/audio/reciters/{reciter_id}/timestamp?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts reciter_id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/audio/reciters/{reciter_id}/lookup": {
      "get": {
        "tags": [
          "Audio"
        ],
        "summary": "Lookup verse by timestamp",
        "description": "Find the closest verse timing segment for a reciter and chapter at the given timestamp. All time values are milliseconds.",
        "operationId": "audio-reciter-lookup",
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "description": "The Id of the reciter",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chapter_number",
            "in": "query",
            "description": "Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "verse_key",
            "in": "query",
            "description": "Verse key (e.g., 2:255). Used only to derive the chapter when `chapter_number` is omitted.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verse_id",
            "in": "query",
            "description": "Verse id. Used only to derive the chapter when `chapter_number` is omitted.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp in milliseconds to look up.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "segments",
            "in": "query",
            "description": "If true, include word-level timing segments for the verse.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "verse_key": {
                          "type": "string"
                        },
                        "timestamp_from": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Start offset in milliseconds from the beginning of the file."
                        },
                        "timestamp_to": {
                          "type": "integer",
                          "format": "int32",
                          "description": "End offset in milliseconds from the beginning of the file."
                        },
                        "duration": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Duration in milliseconds (mirrors source data; may be negative in legacy data)."
                        },
                        "segments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SegmentTriplet"
                          },
                          "description": "Present only when `segments=true`. Word-level timing triplets for the verse.",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "example": {
                  "result": {
                    "verse_key": "1:1",
                    "timestamp_from": 0,
                    "timestamp_to": 6493,
                    "duration": -6493,
                    "segments": [
                      [
                        1,
                        0,
                        630
                      ],
                      [
                        2,
                        650,
                        1570
                      ]
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Lookup verse by timestamp\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(reciter_id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/audio/reciters/7/lookup`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"7\", {\"chapter_number\":\"1\",\"verse_key\":\"2:255\",\"verse_id\":\"262\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Lookup verse by timestamp\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(reciter_id, chapter_number=None, verse_key=None, verse_id=None):\n    params = {k: v for k, v in {'chapter_number': chapter_number, 'verse_key': verse_key, 'verse_id': verse_id}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/audio/reciters/7/lookup',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"7\", chapter_number=\"1\", verse_key=\"2:255\", verse_id=\"262\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Lookup verse by timestamp\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/audio/reciters/7/lookup?chapter_number=1&verse_key=2%3A255&verse_id=262' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to lookup verse by timestamp using the Quran Foundation API.\n\nEndpoint: GET /audio/reciters/{reciter_id}/lookup\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  reciter_id: The Id of the reciter (e.g., \"7\")\nOptional Query Parameters:\n  chapter_number: Chapter number (1 - 114). Required unless you provide `verse_key` or `verse_id`.\n  verse_key: Verse key (e.g., 2:255). Used only to derive the chapter when `chapter_number` is omitted.\n  verse_id: Verse id. Used only to derive the chapter when `chapter_number` is omitted.\n  timestamp: Timestamp in milliseconds to look up.\n  segments: If true, include word-level timing segments for the verse.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/audio/reciters/{reciter_id}/lookup?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts reciter_id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapters": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "List Chapters",
        "description": "Get list of Chapter. When a `language` query parameter is supplied the translated chapter names are looked up in that language, and if not available the lookup automatically falls back to the default English translations.",
        "operationId": "list-chapters",
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "chapters"
                  ],
                  "properties": {
                    "chapters": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/chapter"
                      }
                    }
                  }
                },
                "example": {
                  "chapters": [
                    {
                      "id": 1,
                      "revelation_place": "makkah",
                      "revelation_order": 5,
                      "bismillah_pre": false,
                      "name_simple": "Al-Fatihah",
                      "name_complex": "Al-Fātiĥah",
                      "name_arabic": "الفاتحة",
                      "verses_count": 7,
                      "pages": [
                        1,
                        1
                      ],
                      "translated_name": {
                        "language_name": "english",
                        "name": "The Opener"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// List Chapters\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapters`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi({\"language\":\"en\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# List Chapters\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(language=None):\n    params = {k: v for k, v in {'language': language}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapters',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(language=\"en\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# List Chapters\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapters?language=en' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to list chapters using the Quran Foundation API.\n\nEndpoint: GET /chapters\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nOptional Query Parameters:\n  language: Optional parameter\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapters?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapters/{id}": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "Get Chapter",
        "description": "Get details of a single Chapter.",
        "operationId": "GET-chapter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Chapter ID ( 1-114)",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter": {
                      "$ref": "#/components/schemas/chapter"
                    }
                  }
                },
                "example": {
                  "chapter": {
                    "id": 1,
                    "revelation_place": "makkah",
                    "revelation_order": 5,
                    "bismillah_pre": false,
                    "name_simple": "Al-Fatihah",
                    "name_complex": "Al-Fātiĥah",
                    "name_arabic": "الفاتحة",
                    "verses_count": 7,
                    "pages": [
                      1,
                      1
                    ],
                    "translated_name": {
                      "language_name": "english",
                      "name": "The Opener"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get Chapter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapters/1`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"1\", {\"language\":\"en\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get Chapter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, language=None):\n    params = {k: v for k, v in {'language': language}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapters/1',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"1\", language=\"en\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get Chapter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapters/1?language=en' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get chapter using the Quran Foundation API.\n\nEndpoint: GET /chapters/{id}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: Chapter ID ( 1-114) (e.g., \"1\")\nOptional Query Parameters:\n  language: Optional parameter\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapters/{id}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/chapters/{id}/info": {
      "get": {
        "tags": [
          "Chapters"
        ],
        "summary": "Get Chapter Info",
        "description": "Get Chapter Info in specific language. Default to `English`.",
        "operationId": "get-chapter-info",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Chapter number (1-114)",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 114
            }
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "en"
            },
            "description": "Language ISO code for translated metadata. Defaults to English."
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Locale fallback if a language code is not provided."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chapter_info": {
                      "$ref": "#/components/schemas/chapter-info"
                    }
                  }
                },
                "example": {
                  "chapter_info": {
                    "id": 1,
                    "chapter_id": 1,
                    "language_name": "english",
                    "short_text": "This Surah is named Al-Fatihah because of its subject-matter. Fatihah is that which opens a subject or a book or any other thing. In other words, Al-Fatihah is a sort of preface.",
                    "source": "Sayyid Abul Ala Maududi - Tafhim al-Qur'an - The Meaning of the Quran",
                    "text": "<h2>Name</h2>\r\n<p>This Surah is named Al-Fatihah because of its subject-matter. Fatihah is that which opens a subject or a book or any other thing. In other words, Al-Fatihah is a sort of preface.</p>\r\n<h2>Period of Revelation</h2>..."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// Get Chapter Info\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(id, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/chapters/1/info`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"1\", {\"language\":\"en\",\"locale\":\"value\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# Get Chapter Info\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(id, language=None, locale=None):\n    params = {k: v for k, v in {'language': language, 'locale': locale}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/chapters/1/info',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"1\", language=\"en\", locale=\"value\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# Get Chapter Info\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/chapters/1/info?language=en&locale=value' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to get chapter info using the Quran Foundation API.\n\nEndpoint: GET /chapters/{id}/info\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  id: Chapter number (1-114) (e.g., \"1\")\nOptional Query Parameters:\n  language: Language ISO code for translated metadata. Defaults to English.\n  locale: Locale fallback if a language code is not provided.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/chapters/{id}/info?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts id and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/verses/by_chapter/{chapter_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Chapter",
        "description": "Get list of Verse(s) by Chapter / Surah number.",
        "operationId": "verses-by_chapter_number",
        "parameters": [
          {
            "name": "chapter_number",
            "in": "path",
            "description": "Chapter number ( 1  - 114 )",
            "required": true,
            "schema": {
              "maximum": 114,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word-by-word translation in a specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.",
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tafsir_fields",
            "in": "query",
            "description": "Comma separated list of tafsir fields if you want to add more fields for each tafsir. [See full field reference](/docs/api/field-reference#tafsir-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. Use `fields=text_uthmani,text_indopak` to include Arabic text. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// By Chapter\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(chapter_number, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/verses/by_chapter/1`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"1\", {\"language\":\"en\",\"words\":\"true\",\"translations\":\"131\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# By Chapter\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(chapter_number, language=None, words=None, translations=None):\n    params = {k: v for k, v in {'language': language, 'words': words, 'translations': translations}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/verses/by_chapter/1',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"1\", language=\"en\", words=\"true\", translations=\"131\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# By Chapter\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/verses/by_chapter/1?language=en&words=true&translations=131' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to by chapter using the Quran Foundation API.\n\nEndpoint: GET /verses/by_chapter/{chapter_number}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  chapter_number: Chapter number ( 1  - 114 ) (e.g., \"1\")\nOptional Query Parameters:\n  language: Language to fetch word-by-word translation in a specific language.\n  words: Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.\n  translations: comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.\n  audio: Id of recitation if you want to load audio of each ayah.\n  tafsirs: Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/verses/by_chapter/{chapter_number}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts chapter_number and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/verses/by_page/{page_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Page",
        "description": "Get all verses of a specific Madani Mushaf page (1 to 604)",
        "operationId": "verses-by_page_number",
        "parameters": [
          {
            "name": "page_number",
            "in": "path",
            "description": "Madani Mushaf page number. Valid range is 1-604 ",
            "required": true,
            "schema": {
              "maximum": 604,
              "exclusiveMaximum": false,
              "minimum": 1,
              "exclusiveMinimum": true,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word-by-word translation in a specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.",
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tafsir_fields",
            "in": "query",
            "description": "Comma separated list of tafsir fields if you want to add more fields for each tafsir. [See full field reference](/docs/api/field-reference#tafsir-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. Use `fields=text_uthmani,text_indopak` to include Arabic text. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// By Page\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(page_number, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/verses/by_page/1`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"1\", {\"language\":\"en\",\"words\":\"true\",\"translations\":\"131\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# By Page\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(page_number, language=None, words=None, translations=None):\n    params = {k: v for k, v in {'language': language, 'words': words, 'translations': translations}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/verses/by_page/1',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"1\", language=\"en\", words=\"true\", translations=\"131\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# By Page\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/verses/by_page/1?language=en&words=true&translations=131' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to by page using the Quran Foundation API.\n\nEndpoint: GET /verses/by_page/{page_number}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  page_number: Madani Mushaf page number. Valid range is 1-604  (e.g., \"1\")\nOptional Query Parameters:\n  language: Language to fetch word-by-word translation in a specific language.\n  words: Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.\n  translations: comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.\n  audio: Id of recitation if you want to load audio of each ayah.\n  tafsirs: Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/verses/by_page/{page_number}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts page_number and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/verses/by_juz/{juz_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Juz",
        "description": "Get all verses from a specific juz(1-30).",
        "operationId": "verses-by_juz_number",
        "parameters": [
          {
            "name": "juz_number",
            "in": "path",
            "required": true,
            "schema": {
              "maximum": 30,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word-by-word translation in a specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.",
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tafsir_fields",
            "in": "query",
            "description": "Comma separated list of tafsir fields if you want to add more fields for each tafsir. [See full field reference](/docs/api/field-reference#tafsir-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. Use `fields=text_uthmani,text_indopak` to include Arabic text. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
                    }
                  }
                },
                "example": {
                  "verses": [
                    {
                      "id": 1,
                      "verse_number": 1,
                      "page_number": 1,
                      "verse_key": "1:1",
                      "juz_number": 1,
                      "hizb_number": 1,
                      "rub_el_hizb_number": 1,
                      "sajdah_type": null,
                      "sajdah_number": null,
                      "words": [
                        {
                          "id": 1,
                          "position": 1,
                          "audio_url": "wbw/001_001_001.mp3",
                          "char_type_name": "word",
                          "line_number": 2,
                          "page_number": 1,
                          "code_v1": "&#xfb51;",
                          "translation": {
                            "text": "In (the) name",
                            "language_name": "english"
                          },
                          "transliteration": {
                            "text": "bis'mi",
                            "language_name": "english"
                          }
                        }
                      ],
                      "translations": [
                        {
                          "resource_id": 131,
                          "text": "In the Name of Allah—the Most Compassionate, Most Merciful."
                        }
                      ],
                      "tafsirs": [
                        {
                          "id": 82641,
                          "language_name": "english",
                          "name": "Tafsir Ibn Kathir",
                          "text": "<h2 class=\"title\">Which was revealed in Makkah</h2><h2 class=\"title\">The Meaning of Al-Fatihah and its Various Names</h2>"
                        }
                      ]
                    }
                  ],
                  "pagination": {
                    "per_page": 1,
                    "current_page": 1,
                    "next_page": 2,
                    "total_pages": 7,
                    "total_records": 7
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/invalidRequest"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/notFound"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/rateLimitExceeded"
          },
          "500": {
            "$ref": "#/components/responses/internalServerError"
          },
          "502": {
            "$ref": "#/components/responses/badGateway"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/gatewayTimeout"
          }
        },
        "x-codeSamples": [
          {
            "lang": "javascript",
            "label": "Node.js",
            "source": "// By Juz\nconst axios = require('axios');\n\nconst API_BASE_URL = 'https://apis.quran.foundation/content/api/v4';\nconst ACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>';\nconst CLIENT_ID = '<YOUR_CLIENT_ID>';\n\nasync function callApi(juz_number, options = {}) {\n  const response = await axios.get(\n    `${API_BASE_URL}/verses/by_juz/1`,\n    {\n      headers: {\n        'x-auth-token': ACCESS_TOKEN,\n        'x-client-id': CLIENT_ID\n      },\n      params: options\n    }\n  );\n  return response.data;\n}\n\n// Example usage\ncallApi(\"1\", {\"language\":\"en\",\"words\":\"true\",\"translations\":\"131\"})\n  .then(data => console.log(data))\n  .catch(err => console.error(err.response?.status, err.message));"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "# By Juz\nimport requests\n\nAPI_BASE_URL = 'https://apis.quran.foundation/content/api/v4'\nACCESS_TOKEN = '<YOUR_ACCESS_TOKEN>'\nCLIENT_ID = '<YOUR_CLIENT_ID>'\n\ndef call_api(juz_number, language=None, words=None, translations=None):\n    params = {k: v for k, v in {'language': language, 'words': words, 'translations': translations}.items() if v is not None}\n    \n    response = requests.get(\n        f'{API_BASE_URL}/verses/by_juz/1',\n        headers={\n            'x-auth-token': ACCESS_TOKEN,\n            'x-client-id': CLIENT_ID\n        },\n        params=params\n    )\n    response.raise_for_status()\n    return response.json()\n\n# Example usage\ntry:\n    data = call_api(\"1\", language=\"en\", words=\"true\", translations=\"131\")\n    print(data)\nexcept requests.HTTPError as e:\n    print(f'Error {e.response.status_code}: {e}')"
          },
          {
            "lang": "bash",
            "label": "cURL",
            "source": "# By Juz\ncurl -X GET \\\n  'https://apis.quran.foundation/content/api/v4/verses/by_juz/1?language=en&words=true&translations=131' \\\n  -H 'x-auth-token: <YOUR_ACCESS_TOKEN>' \\\n  -H 'x-client-id: <YOUR_CLIENT_ID>'"
          },
          {
            "lang": "text",
            "label": "🤖 AI Prompt",
            "source": "Implement a function to by juz using the Quran Foundation API.\n\nEndpoint: GET /verses/by_juz/{juz_number}\nBase URL: https://apis.quran.foundation/content/api/v4\n\nRequired Headers (copy exactly):\n  x-auth-token: <YOUR_ACCESS_TOKEN>\n  x-client-id: <YOUR_CLIENT_ID>\nPath Parameters:\n  juz_number: Required parameter (e.g., \"1\")\nOptional Query Parameters:\n  language: Language to fetch word-by-word translation in a specific language.\n  words: Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.\n  translations: comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.\n  audio: Id of recitation if you want to load audio of each ayah.\n  tafsirs: Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.\n\nImplementation Requirements:\n1. Build the request URL: {baseUrl}/verses/by_juz/{juz_number}?{queryParams}\n2. Inject both required headers on every request\n3. Handle errors safely:\n   - 401: Token expired → re-request token and retry once\n   - 403: Access denied → check client credentials\n   - 429: Rate limited → implement exponential backoff\n\nAcceptance Checklist:\n- [ ] Function accepts juz_number and optional parameters\n- [ ] Headers x-auth-token and x-client-id are sent\n- [ ] 401/403/429 errors are handled gracefully"
          }
        ]
      }
    },
    "/verses/by_hizb/{hizb_number}": {
      "get": {
        "tags": [
          "Verses"
        ],
        "summary": "By Hizb number",
        "description": "Get all verses from a specific Hizb( half(1-60).",
        "operationId": "verses-by_hizb_number",
        "parameters": [
          {
            "name": "hizb_number",
            "in": "path",
            "description": "Hizb number(1-60)",
            "required": true,
            "schema": {
              "maximum": 60,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to fetch word-by-word translation in a specific language.",
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "words",
            "in": "query",
            "description": "Include words of each ayah? Use this to fetch word-by-word translation and transliteration.\n\n0 or false will not include words.\n\n1 or true will include the words.\n\nDefault is false.",
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "translations",
            "in": "query",
            "description": "comma separated ids of translations to load for each ayah. See [/resources/translations](/docs/content_apis_versioned/translations) for available ids. Use translations=57 to include full-ayah transliteration.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "audio",
            "in": "query",
            "description": "Id of recitation if you want to load audio of each ayah.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tafsirs",
            "in": "query",
            "description": "Comma separated ids of tafsirs to load for each ayah if you want to load tafsirs. See [/resources/tafsirs](/docs/content_apis_versioned/tafsirs) for available ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "word_fields",
            "in": "query",
            "description": "Comma-separated list of word-level fields to include in response. [See full field reference](/docs/api/field-reference#word-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "translation_fields",
            "in": "query",
            "description": "Comma separated list of translation fields if you want to add more fields for each translation. [See full field reference](/docs/api/field-reference#translation-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tafsir_fields",
            "in": "query",
            "description": "Comma separated list of tafsir fields if you want to add more fields for each tafsir. [See full field reference](/docs/api/field-reference#tafsir-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of verse-level fields to include in response. Use `fields=text_uthmani,text_indopak` to include Arabic text. [See full field reference](/docs/api/field-reference#verse-level-fields).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "For paginating within the result",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "records per api call, you can get maximum 50 records. ",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/verse"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/pagination"
[...]
