{
  "openapi": "3.1.0",
  "info": {
    "title": "Quran.com API",
    "version": "v4",
    "description": " Documentation of Quran.com v4 API"
  },
  "servers": [
    {
      "url": "https://api.quran.com/api/v4"
    },
    {
      "url": "http://api.quran.com/api/v4"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "api.v4.ping.ping",
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes.rb:38",
        "x-controller": "api/v4/ping",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc": {
      "get": {
        "operationId": "api.ping.ping",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:162",
        "x-controller": "api/ping",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters": {
      "get": {
        "operationId": "api.qdc.recitations.index",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:98",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}": {
      "get": {
        "operationId": "api.qdc.recitations.show",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:99",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}/audio_files": {
      "get": {
        "operationId": "api.qdc.recitations.audio_files",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:100",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}/ayah_percentiles": {
      "get": {
        "operationId": "api.qdc.recitations.ayah_duration_percentile",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:110",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}/lookup": {
      "get": {
        "operationId": "api.qdc.recitations.lookup_ayah",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:106",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}/percentiles": {
      "get": {
        "operationId": "api.qdc.recitations.cumulative_percentile",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:109",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}/related": {
      "get": {
        "operationId": "api.qdc.recitations.related",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:101",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/reciters/{reciter_id}/timestamp": {
      "get": {
        "operationId": "api.qdc.recitations.timestamp",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "reciter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:104",
        "x-controller": "api/qdc/recitations",
        "x-notes": [
          "TODO: describe path parameter `reciter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/stations": {
      "get": {
        "operationId": "api.qdc.radio_stations.index",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:113",
        "x-controller": "api/qdc/radio_stations",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/audio/stations/{station_id}": {
      "get": {
        "operationId": "api.qdc.radio_stations.show",
        "tags": [
          "api",
          "qdc",
          "audio"
        ],
        "parameters": [
          {
            "name": "station_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:114",
        "x-controller": "api/qdc/radio_stations",
        "x-notes": [
          "TODO: describe path parameter `station_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/chapters": {
      "get": {
        "operationId": "api.chapters.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:35",
        "x-controller": "api/chapters",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/chapters/{id}": {
      "get": {
        "operationId": "api.chapters.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:36",
        "x-controller": "api/chapters",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/chapters/{id}/info": {
      "get": {
        "operationId": "api.chapter_infos.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:39",
        "x-controller": "api/chapter_infos",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/foot_notes/{id}": {
      "get": {
        "operationId": "api.foot_notes.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:91",
        "x-controller": "api/foot_notes",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/hizbs": {
      "get": {
        "operationId": "api.hizbs.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:46",
        "x-controller": "api/hizbs",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/hizbs/{id}": {
      "get": {
        "operationId": "api.hizbs.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:47",
        "x-controller": "api/hizbs",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/juzs": {
      "get": {
        "operationId": "api.juzs.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:42",
        "x-controller": "api/juzs",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/juzs/{id}": {
      "get": {
        "operationId": "api.juzs.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:43",
        "x-controller": "api/juzs",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/manzils": {
      "get": {
        "operationId": "api.manzils.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:54",
        "x-controller": "api/manzils",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/manzils/{id}": {
      "get": {
        "operationId": "api.manzils.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:55",
        "x-controller": "api/manzils",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/mushafs": {
      "get": {
        "operationId": "api.mushafs.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:94",
        "x-controller": "api/mushafs",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/navigate": {
      "get": {
        "operationId": "api.search.navigate",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:86",
        "x-controller": "api/search",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/pages": {
      "get": {
        "operationId": "api.pages.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:62",
        "x-controller": "api/pages",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/pages/lookup": {
      "get": {
        "operationId": "api.pages.lookup",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:63",
        "x-controller": "api/pages",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/pages/{id}": {
      "get": {
        "operationId": "api.pages.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:64",
        "x-controller": "api/pages",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/ping": {
      "get": {
        "operationId": "api.ping.ping",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:161",
        "x-controller": "api/ping",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/authors": {
      "get": {
        "operationId": "api.qdc.authors.index",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:11",
        "x-controller": "api/qdc/authors",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/authors/{id}": {
      "get": {
        "operationId": "api.qdc.authors.show",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:12",
        "x-controller": "api/qdc/authors",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/authors/{id}/followers": {
      "get": {
        "operationId": "api.qdc.authors.followers",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:13",
        "x-controller": "api/qdc/authors",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/authors/{id}/followings": {
      "get": {
        "operationId": "api.qdc.authors.followings",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:14",
        "x-controller": "api/qdc/authors",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/comments/{comment_id}/replies": {
      "get": {
        "operationId": "api.qdc.comments.replies",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:9",
        "x-controller": "api/qdc/comments",
        "x-notes": [
          "TODO: describe path parameter `comment_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/comments/{id}": {
      "get": {
        "operationId": "api.qdc.comments.show",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:8",
        "x-controller": "api/qdc/comments",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/reflections": {
      "get": {
        "operationId": "api.qdc.reflections.index",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:3",
        "x-controller": "api/qdc/reflections",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/reflections/{id}": {
      "get": {
        "operationId": "api.qdc.reflections.show",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:4",
        "x-controller": "api/qdc/reflections",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/reflections/{post_id}/comments": {
      "get": {
        "operationId": "api.qdc.comments.index",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:5",
        "x-controller": "api/qdc/comments",
        "x-notes": [
          "TODO: describe path parameter `post_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/reflections/{post_id}/report": {
      "post": {
        "operationId": "api.qdc.reflections.report",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:7",
        "x-controller": "api/qdc/reflections",
        "x-notes": [
          "TODO: describe path parameter `post_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/reflections/{post_id}/verses": {
      "get": {
        "operationId": "api.qdc.reflections.verses",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "parameters": [
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:6",
        "x-controller": "api/qdc/reflections",
        "x-notes": [
          "TODO: describe path parameter `post_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/search": {
      "get": {
        "operationId": "api.qdc.search.search",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:15",
        "x-controller": "api/qdc/search",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/qr/tags": {
      "get": {
        "operationId": "api.qdc.tags.index",
        "tags": [
          "api",
          "qdc",
          "qr"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:10",
        "x-controller": "api/qdc/tags",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/quran/recitations/{recitation_id}": {
      "get": {
        "operationId": "api.qdc.quran.recitation",
        "tags": [
          "api",
          "qdc",
          "quran"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:122",
        "x-controller": "api/qdc/quran",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/quran/tafsirs/{tafsir_id}": {
      "get": {
        "operationId": "api.qdc.quran.tafsir",
        "tags": [
          "api",
          "qdc",
          "quran"
        ],
        "parameters": [
          {
            "name": "tafsir_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:121",
        "x-controller": "api/qdc/quran",
        "x-notes": [
          "TODO: describe path parameter `tafsir_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/quran/translations/{translation_id}": {
      "get": {
        "operationId": "api.qdc.quran.translation",
        "tags": [
          "api",
          "qdc",
          "quran"
        ],
        "parameters": [
          {
            "name": "translation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:120",
        "x-controller": "api/qdc/quran",
        "x-notes": [
          "TODO: describe path parameter `translation_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/quran/verses/{script}": {
      "get": {
        "operationId": "api.qdc.quran.verses_text",
        "tags": [
          "api",
          "qdc",
          "quran"
        ],
        "parameters": [
          {
            "name": "script",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:123",
        "x-controller": "api/qdc/quran",
        "x-notes": [
          "TODO: describe path parameter `script`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_ayah/{ayah_key}": {
      "get": {
        "operationId": "api.recitations.by_ayah",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "ayah_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:158",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `ayah_key`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_chapter/{chapter_number}": {
      "get": {
        "operationId": "api.recitations.by_chapter",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:151",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `chapter_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_hizb/{hizb_number}": {
      "get": {
        "operationId": "api.recitations.by_hizb",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:155",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_juz/{juz_number}": {
      "get": {
        "operationId": "api.recitations.by_juz",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:153",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `juz_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_manzil/{manzil_number}": {
      "get": {
        "operationId": "api.recitations.by_manzil",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "manzil_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:156",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `manzil_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_page/{page_number}": {
      "get": {
        "operationId": "api.recitations.by_page",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "page_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:152",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `page_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_rub_el_hizb/{rub_el_hizb_number}": {
      "get": {
        "operationId": "api.recitations.by_rub_el_hizb",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "rub_el_hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:154",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `rub_el_hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/recitations/{recitation_id}/by_ruku/{ruku_number}": {
      "get": {
        "operationId": "api.recitations.by_ruku",
        "tags": [
          "api",
          "qdc",
          "recitations/:recitation_id"
        ],
        "parameters": [
          {
            "name": "recitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "ruku_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:157",
        "x-controller": "api/recitations",
        "x-notes": [
          "TODO: describe path parameter `recitation_id`",
          "TODO: describe path parameter `ruku_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/chapter_infos": {
      "get": {
        "operationId": "api.qdc.resources.chapter_infos",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:28",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/country_language_preference": {
      "get": {
        "operationId": "api.qdc.resources.country_language_preference",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:31",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/languages": {
      "get": {
        "operationId": "api.qdc.resources.languages",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:27",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/recitation_styles": {
      "get": {
        "operationId": "api.qdc.resources.recitation_styles",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:26",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/tafsirs": {
      "get": {
        "operationId": "api.qdc.resources.tafsirs",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:24",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/tafsirs/{tafsir_id}/info": {
      "get": {
        "operationId": "api.qdc.resources.tafsir_info",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "parameters": [
          {
            "name": "tafsir_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:25",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: describe path parameter `tafsir_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/translations": {
      "get": {
        "operationId": "api.qdc.resources.translations",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:20",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/translations/filter": {
      "get": {
        "operationId": "api.qdc.resources.filter",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:23",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/translations/{translation_id}/info": {
      "get": {
        "operationId": "api.qdc.resources.translation_info",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "parameters": [
          {
            "name": "translation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:21",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: describe path parameter `translation_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/verse_media": {
      "get": {
        "operationId": "api.qdc.resources.verse_media",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:29",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/resources/word_by_word_translations": {
      "get": {
        "operationId": "api.qdc.resources.word_by_word_translations",
        "tags": [
          "api",
          "qdc",
          "resources"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:30",
        "x-controller": "api/qdc/resources",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/rub_el_hizbs": {
      "get": {
        "operationId": "api.rub_el_hizbs.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:50",
        "x-controller": "api/rub_el_hizbs",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/rub_el_hizbs/{id}": {
      "get": {
        "operationId": "api.rub_el_hizbs.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:51",
        "x-controller": "api/rub_el_hizbs",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/rukus": {
      "get": {
        "operationId": "api.rukus.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:58",
        "x-controller": "api/rukus",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/rukus/{id}": {
      "get": {
        "operationId": "api.rukus.show",
        "tags": [
          "api",
          "qdc"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:59",
        "x-controller": "api/rukus",
        "x-notes": [
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/search": {
      "get": {
        "operationId": "api.search.search",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:85",
        "x-controller": "api/search",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_ayah/{ayah_key}": {
      "get": {
        "operationId": "api.tafsirs.by_ayah",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "ayah_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:147",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `ayah_key`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_chapter/{chapter_number}": {
      "get": {
        "operationId": "api.tafsirs.by_chapter",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:140",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `chapter_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_hizb/{hizb_number}": {
      "get": {
        "operationId": "api.tafsirs.by_hizb",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:144",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_juz/{juz_number}": {
      "get": {
        "operationId": "api.tafsirs.by_juz",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:142",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `juz_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_manzil/{manzil_number}": {
      "get": {
        "operationId": "api.tafsirs.by_manzil",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "manzil_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:145",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `manzil_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_page/{page_number}": {
      "get": {
        "operationId": "api.tafsirs.by_page",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "page_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:141",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `page_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_rub_el_hizb/{rub_el_hizb_number}": {
      "get": {
        "operationId": "api.tafsirs.by_rub_el_hizb",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "rub_el_hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:143",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `rub_el_hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/tafsirs/{resource_id}/by_ruku/{ruku_number}": {
      "get": {
        "operationId": "api.tafsirs.by_ruku",
        "tags": [
          "api",
          "qdc",
          "tafsirs/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "ruku_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:146",
        "x-controller": "api/tafsirs",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `ruku_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_ayah/{ayah_key}": {
      "get": {
        "operationId": "api.translations.by_ayah",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "ayah_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:135",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `ayah_key`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_chapter/{chapter_number}": {
      "get": {
        "operationId": "api.translations.by_chapter",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:128",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `chapter_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_hizb/{hizb_number}": {
      "get": {
        "operationId": "api.translations.by_hizb",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:132",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_juz/{juz_number}": {
      "get": {
        "operationId": "api.translations.by_juz",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:130",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `juz_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_manzil/{manzil_number}": {
      "get": {
        "operationId": "api.translations.by_manzil",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "manzil_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:133",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `manzil_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_page/{page_number}": {
      "get": {
        "operationId": "api.translations.by_page",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "page_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:129",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `page_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_rub_el_hizb/{rub_el_hizb_number}": {
      "get": {
        "operationId": "api.translations.by_rub_el_hizb",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "rub_el_hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:131",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `rub_el_hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/translations/{resource_id}/by_ruku/{ruku_number}": {
      "get": {
        "operationId": "api.translations.by_ruku",
        "tags": [
          "api",
          "qdc",
          "translations/:resource_id"
        ],
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "ruku_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:134",
        "x-controller": "api/translations",
        "x-notes": [
          "TODO: describe path parameter `resource_id`",
          "TODO: describe path parameter `ruku_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/advanced_copy": {
      "get": {
        "operationId": "api.advanced_copy.index",
        "tags": [
          "api",
          "qdc"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:88",
        "x-controller": "api/advanced_copy",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_chapter/{chapter_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_chapter",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "chapter_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:69",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `chapter_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_hizb/{hizb_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_hizb",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:75",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_juz/{juz_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_juz",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "juz_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:70",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `juz_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_key/{verse_key}": {
      "get": {
        "operationId": "api.qdc.verses.by_key",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "verse_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:77",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `verse_key`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_manzil/{manzil_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_manzil",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "manzil_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:71",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `manzil_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_page/{page_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_page",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "page_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:68",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `page_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_range": {
      "get": {
        "operationId": "api.qdc.verses.by_range",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:78",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_rub/{rub_el_hizb_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_rub_el_hizb",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "rub_el_hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:74",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `rub_el_hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_rub_el_hizb/{rub_el_hizb_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_rub_el_hizb",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "rub_el_hizb_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:73",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `rub_el_hizb_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/by_ruku/{ruku_number}": {
      "get": {
        "operationId": "api.qdc.verses.by_ruku",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "parameters": [
          {
            "name": "ruku_number",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:76",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: describe path parameter `ruku_number`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/filter": {
      "get": {
        "operationId": "api.qdc.verses.filter",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:80",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/qdc/verses/random": {
      "get": {
        "operationId": "api.qdc.verses.random",
        "tags": [
          "api",
          "qdc",
          "verses"
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/qdc.rb:82",
        "x-controller": "api/qdc/verses",
        "x-notes": [
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters": {
      "get": {
        "operationId": "api.chapters.index",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:6",
        "x-controller": "api/chapters",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs": {
      "get": {
        "operationId": "api.juzs.index",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:20",
        "x-controller": "api/juzs",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{id}": {
      "get": {
        "operationId": "api.juzs.show",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:20",
        "x-controller": "api/juzs",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}": {
      "get": {
        "operationId": "api.ping.ping",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:34",
        "x-controller": "api/ping",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/options/chapter_info": {
      "get": {
        "operationId": "api.v3.options.chapter_info",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs",
          "options"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:28",
        "x-controller": "api/v3/options",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/options/default": {
      "get": {
        "operationId": "api.v3.options.default",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs",
          "options"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:23",
        "x-controller": "api/v3/options",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/options/languages": {
      "get": {
        "operationId": "api.v3.options.languages",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs",
          "options"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:27",
        "x-controller": "api/v3/options",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/options/recitations": {
      "get": {
        "operationId": "api.v3.options.recitations",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs",
          "options"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:25",
        "x-controller": "api/v3/options",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/options/tafsirs": {
      "get": {
        "operationId": "api.v3.options.tafsirs",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs",
          "options"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:26",
        "x-controller": "api/v3/options",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/options/translations": {
      "get": {
        "operationId": "api.v3.options.translations",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs",
          "options"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:24",
        "x-controller": "api/v3/options",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/ping": {
      "get": {
        "operationId": "api.ping.ping",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:33",
        "x-controller": "api/ping",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/search": {
      "get": {
        "operationId": "api.search.search",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:31",
        "x-controller": "api/search",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/juzs/{juz_id}/suggest": {
      "get": {
        "operationId": "api.search.suggest",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "juzs"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "juz_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:32",
        "x-controller": "api/search",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: describe path parameter `juz_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/verses": {
      "get": {
        "operationId": "api.verses.index",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "verses"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          }
        ],
        "responses": {
          "default": {
            "description": "TODO: document response"
          }
        },
        "x-route-source": "config/routes/api/v3.rb:11",
        "x-controller": "api/verses",
        "x-notes": [
          "TODO: describe path parameter `foot_note_id`",
          "TODO: describe path parameter `chapter_id`",
          "TODO: no schema metadata found for this route"
        ]
      }
    },
    "/api/v3/foot_notes/{foot_note_id}/chapters/{chapter_id}/verses/{id}": {
      "get": {
        "operationId": "api.verses.show",
        "tags": [
          "api",
          "v3",
          "foot_notes",
          "chapters",
          "verses"
        ],
        "parameters": [
          {
            "name": "foot_note_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "chapter_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "TODO: add description"
          },
          {
            "name": "id",
[...]
