/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem !important;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 0rem;
  }
  .heroBanner :global(.hero__title) {
    font-size: 2rem;
    word-break: keep-all;
    overflow-wrap: normal;
    max-width: 100%;
  }
}

