{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "ugptfdq6z3vu9"
  },
  "info": {
    "title": "QuranReflect V1 API",
    "description": "QuranReflect V1 APIs allows your app to interact with https://quranreflect.com resources. \n\n ## Getting started \n\n Our APIs are not public and require an API key. Please contact us via email `amer@qreflect.com` to get yours. \n\n ## User-specific APIs  \n\n All user-specific APIs (For example [Creating a post](/docs/quranreflect_versioned/quranreflect-v-1-api)) require the following headers:  \n\n - `access-token` the user access token, this token can be changed with every request. \n\n - `token-type`  value should always be `Bearer`. \n\n - `client` the client token, this too can be changed with every request. \n\n - `expiry` unix timestamp (in seconds) to indicate when access token will expire. \n\n - `uid` user's unique identifier. \n\n - `Authorization`: complete authorization header. Sample value `Bearer eyJhY2Nlc3MtdG9rZW4iOiJ4cjBrb3g1eXdVM3JrelVMZjhVUzlBIiwidG9rZW4tdHlwZSI6IkJlYXJlciIsImNsaWVudCI6IkpQeFJCRTloVmRBbDlTX1BVdEhJN2ciLCJleHBpcnkiOiIxNzA1OTQwNTQ3IiwidWlkIjoiYW1lci5hYmJhc0BtYWlsaW5hdG9yLmNvbSJ9`. \n\n The values of `access-token`, `client`, `expiry`, and `uid` headers will be returned in the response of [User Sign in API](/docs/quranreflect_versioned/user-signin).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://quranreflect.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/v1/users/sign_in": {
      "post": {
        "summary": "Sign in",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/signin-response"
          },
          "403": {
            "description": "Forbidden, api key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "You don't have permission!"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "message": "You don't have permission!"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity, data is invalid or missing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "errors": [
                        "Invalid login credentials. Please try again."
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "Invalid login credentials. Please try again."
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "errors": [
                        "Invalid login credentials. Please try again."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "This API endpoint allows authenticated access by verifying user credentials. To sign in, the client sends a POST request to this endpoint with the user's email and password in the request body. Upon successful authentication, the server returns(in headers) an `access token`, `uid`, `client token`, and `Authorization` info , which can be used for authorized access to protected resources. In case of an unsuccessful authentication attempt, an error message is returned.",
        "operationId": "user-signin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "email": "user@quranreflect.com",
                    "password": "123456",
                    "client_auth_token": "YD2awPFAZIACstyc54TsfOLuRt4wkapZ"
                  }
                },
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "login using email, or you can use `login` field which support login using email or userame.",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "description": "The email/username password."
                  },
                  "login": {
                    "type": "string",
                    "description": "email or username"
                  }
                },
                "required": [
                  "password"
                ]
              },
              "examples": {
                "Login using email": {
                  "value": {
                    "email": "example@quranreflect.com",
                    "password": "my password"
                  }
                },
                "Login using username": {
                  "value": {
                    "login": "myusername",
                    "password": "my password"
                  }
                }
              }
            }
          },
          "description": "Login body"
        }
      }
    },
    "/v1/users": {
      "post": {
        "summary": "Sign Up",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/signup-response"
          },
          "403": {
            "description": "Forbidden, api key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "You don't have permission!"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "message": "You don't have permission!"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This API endpoint allows creating a new user account by sending a POST request with the required user details. The response includes the newly created user object with a unique ID assigned by the system.",
        "operationId": "user-signup",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "user": {
                      "name": "Amer Abbas",
                      "first_name": "Amer",
                      "last_name": "Abbas",
                      "email": "amer@quranreflect.com",
                      "username": "amerabas",
                      "follow_notification": true,
                      "comments_notification": true,
                      "description": "test description",
                      "default_lang": "ar",
                      "password": "123456",
                      "password_confirmation": "1234567",
                      "apns_token": "value",
                      "avatar": "value"
                    }
                  }
                },
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "deprecated": true,
                        "description": "Full name of user, this is deprecated, please use `first_name` and `last_name` instead."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "User's first name."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "User's last name."
                      },
                      "email": {
                        "type": "string",
                        "description": "User's email."
                      },
                      "username": {
                        "type": "string",
                        "description": "Username"
                      },
                      "description": {
                        "type": "string",
                        "description": "user bio"
                      },
                      "default_lang": {
                        "type": "string",
                        "description": "ISO code of the language that the user prefers to read posts in"
                      },
                      "password": {
                        "type": "string",
                        "description": "Account password."
                      },
                      "password_confirmation": {
                        "type": "string",
                        "description": "Account password confirmation."
                      },
                      "avatar": {
                        "type": "string",
                        "description": "avatar file ",
                        "format": "file"
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name"
                    ]
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "user": {
                      "name": "string",
                      "first_name": "string",
                      "last_name": "string",
                      "email": "string",
                      "username": "string",
                      "description": "string",
                      "default_lang": "string",
                      "password": "string",
                      "password_confirmation": "string",
                      "avatar": "string"
                    }
                  }
                }
              }
            }
          },
          "description": "Sign up body"
        }
      },
      "put": {
        "summary": "Update User Profile",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "integer"
            },
            "description": "token expiry timestamp",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "description": "token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/signup-response"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "description": "This API endpoint allows updating a user's profile information by sending a PUT request with the user ID and the updated details in the request body. The request body can include fields such as name, description, notification settings, and password etc. Upon successful update, the server returns the updated user object.",
        "operationId": "user-update",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Full name of user, this is deprecated, please use `first_name` and `last_name` instead.",
                    "deprecated": true
                  },
                  "first_name": {
                    "type": "string",
                    "description": "User's first name."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "User's last name."
                  },
                  "follow_notification": {
                    "type": "boolean"
                  },
                  "comments_notification": {
                    "type": "boolean"
                  },
                  "description": {
                    "type": "string",
                    "description": "user bio"
                  },
                  "default_lang": {
                    "type": "string",
                    "description": "ISO code of the language that the user prefers to read posts in"
                  },
                  "password": {
                    "type": "string"
                  },
                  "password_confirmation": {
                    "type": "string"
                  },
                  "onesignal_player_id": {
                    "type": "string"
                  },
                  "apns_token": {
                    "type": "string"
                  },
                  "avatar": {
                    "type": "string",
                    "description": "avatar file"
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "user": {
                      "name": "string",
                      "first_name": "string",
                      "last_name": "string",
                      "follow_notification": true,
                      "comments_notification": true,
                      "description": "string",
                      "default_lang": "string",
                      "password": "string",
                      "password_confirmation": "string",
                      "onesignal_player_id": "string",
                      "apns_token": "string",
                      "avatar": "string"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "get": {
        "summary": "Search users",
        "responses": {
          "200": {
            "$ref": "#/components/responses/search-user-response"
          },
          "403": {
            "$ref": "#/components/responses/missing-apikey-response"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "operationId": "get-users-list",
        "tags": [
          "Users"
        ],
        "description": "Get list of users, you can apply filters using the 'username' or 'email' parameters. Please note that at least one of these parameters must be provided in order to receive any results.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "username",
            "description": "search using username"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "email",
            "description": "search using email"
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ]
      }
    },
    "/v1/users/password": {
      "post": {
        "summary": "Generate reset password email",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes."
                    }
                  }
                },
                "examples": {
                  "Successful": {
                    "value": {
                      "success": true,
                      "message": "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/missing-apikey-response"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "Reset user password, user will get an email with a link to page where they can update the password.",
        "operationId": "user-resetpassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "success": true,
                    "message": "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes."
                  }
                },
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "user email",
                    "format": "email"
                  }
                }
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/v1/users/confirmation": {
      "post": {
        "summary": "Generate account confirmation email",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "Confirmation Link sent successfully"
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "example": "If your email address exists in our database, you will receive an email with instructions for how to confirm your email address in a few minutes."
                    }
                  },
                  "required": [
                    "success",
                    "message"
                  ]
                },
                "examples": {
                  "successful": {
                    "summary": "User create confirmation Link (success true)",
                    "value": {
                      "success": true,
                      "message": "Confirmation Link sent successfully"
                    }
                  },
                  "already-confirmed": {
                    "summary": "User create confirmation Link (success false)",
                    "value": {
                      "success": false,
                      "message": "Email was already confirmed, please try signing in"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "errors": [
                        "You must provide an email address."
                      ]
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "errors": [
                        "You must provide an email address."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/missing-apikey-response"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "description": "This API endpoint allows sending a new account confirmation email to the user's email address. The email contains a unique confirmation link that the user can click to confirm their account. Upon clicking the link, the server verifies the token and sets the account status to confirmed, allowing the user to log in. If the confirmation link is invalid or has expired, the server will show an error message.",
        "operationId": "generate-confirm-account-email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "user": {
                      "email": "user@quranreflect.com"
                    }
                  }
                },
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "user email",
                        "format": "email"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "user": {
                      "email": "salam@quranreflect.com"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/v1/users/sign_out": {
      "delete": {
        "summary": "Sign out",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531312879",
            "description": "timestamp of token expiry ",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer"
            },
            "example": "Bearer",
            "description": "access token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "required": true,
            "description": "user uid"
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found, this usually means user is not logged in",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "errors": [
                        "User was not found or was not logged in."
                      ]
                    }
                  }
                },
                "example": {
                  "success": false,
                  "errors": [
                    "User was not found or was not logged in."
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "errors": [
                        "User was not found or was not logged in."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "description": "This API endpoint allows logging out the authenticated user, clearing the access token and session from the server-side. \nUser will have to login again for getting new access token, client token etc.",
        "operationId": "user-logout"
      }
    },
    "/v1/posts": {
      "post": {
        "summary": "Create post",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "user access token"
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer"
            },
            "example": " Bearer",
            "required": true,
            "description": "token type"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "client access token"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " 1586092545",
            "description": "author's access token expiry timestamp",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": " user@quranreflect.com",
            "description": "author's uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-post-response"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Api will respond with 404 if creating post for a room and room doesn't exist. ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "status": 404,
                      "success": false,
                      "error": "Couldn't find Room with 'id'=1122222"
                    }
                  }
                },
                "examples": {
                  "invalid room": {
                    "value": {
                      "status": 404,
                      "success": false,
                      "error": "Couldn't find Room with 'id'=123"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "v1-post-create",
        "description": "Create reflection/post by sending a `POST` request with required params.Please see body schema for required params and their description.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "post": {
                      "body": "test test",
                      "draft": "0",
                      "tag_ids": [
                        "",
                        "5"
                      ],
                      "filters_attributes": [
                        {
                          "chapter_id": "4",
                          "from": "",
                          "to": ""
                        },
                        {
                          "chapter_id": "3",
                          "from": "1",
                          "to": "1"
                        },
                        {
                          "chapter_id": "6",
                          "from": "8",
                          "to": "11"
                        }
                      ]
                    }
                  }
                },
                "properties": {
                  "post": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "the post body"
                      },
                      "draft": {
                        "type": "boolean",
                        "default": false,
                        "description": "Provide `true` if this a private note of user. "
                      },
                      "tag_ids": {
                        "type": "array",
                        "description": "list of tag ids ",
                        "items": {
                          "type": "string"
                        }
                      },
                      "filters_attributes": {
                        "type": "array",
                        "description": "List of ayah/surah references for this reflection.You can add multiple references.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chapter_id": {
                              "type": "integer",
                              "description": "surah number"
                            },
                            "from": {
                              "type": "integer",
                              "description": "From ayah number, use `from` and `to` if this reflection is for range of ayah. If both `from` and `to` are missing, that'll means user is referencing full surah for this post. "
                            },
                            "to": {
                              "type": "integer",
                              "description": "`to` ayah number. We'll use `from` value if this is blank(that'll mean a single ayah is being referenced for this post)"
                            }
                          }
                        }
                      },
                      "room_id": {
                        "type": "integer",
                        "description": "`room id` if creating post in a room/group"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "post": {
                      "body": "I love #Quran",
                      "draft": false,
                      "tag_ids": [
                        "5"
                      ],
                      "filters_attributes": [
                        {
                          "chapter_id": "4",
                          "from": "",
                          "to": ""
                        },
                        {
                          "chapter_id": "3",
                          "from": "1",
                          "to": "1"
                        },
                        {
                          "chapter_id": "6",
                          "from": "8",
                          "to": "11"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      },
      "get": {
        "summary": "Get posts",
        "description": "This API endpoint allows retrieving the list of reflections/post.\n \nBy using different query string, users can fetch posts that meet specific criteria, such as the most popular or latest posts, or posts created by a specific user. Some of these query strings are explained below:\n\n\n- `tab` query string, following table explain the `tab` value and expected results. \n\n> NOTE: For some `tab` value, user need to be logged in otherwise system will return an empty array. \n\n> NOTE: `access-token`, `client` and other auth headers are optional for this api. But you'll need to provide these headers if need to access `private notes` of author.\n \n tab value | Explanation | Required auth headers\n---------|----------|---------\n newest  | recent posts at top | No\n following | return reflections of authors that current user is following | Yes\n draft | returns current user's private notes | Yes\n favorite | returns current user's favorite posts | Yes\n most_popular | `default` tab value. Return most popular posts | No \n only_room_members | Send posts that are posted by current room members | No\n public | Include public posts of private rooms | No\n feed | `feed` is special tab value, this will ignore most filters(See below) and send verified posts(if `verified` is true), posts that are reviewed by scholars, posts from author current user is following(if user is logged in) etc | No \n \n`q` parameter is used for further customizing the results, you can fetch posts of specific members, post that have specific tags, post for specific surah, ayah range or single ayah etc. \n\n**Filter posts of specific users**\n- `q[author_ids]=1,2,3` => Get posts of author whose ids are 1,2, or 3.\n\n**Filter by specific post type**\n- `q[post_type_ids]` -> Comma-separated post type IDs.\nPost Type | Post Type Id\n---------|----------\n Reflection  | 1\n\n**Filter by Tags**\n- `q[tag_ids]` is array query string, you can include multiple tags using following format:\n\n`q[tag_ids][]=11&q[tag_ids][]=33`\n\n**Filter by specific ayah or range**\n- `q[filters_attributes][0][chapter_id]=1` -> Reflection of first surah\n\n- `q[filters_attributes][0][from]=1&q[filters_attributes][0][to]: 3` -> Filter down reflection to first 3 ayah of first surah\n\nYou can use multiple `filters_attributes` to tailor results to your needs.\n\n**Logical operation for filters**\n- q[filters_operation]= `OR` or `AND`. OR will send results that matches any filters. AND will perform inclusive operation, i.e return results that matches all conditions.\n- q[tags_operation]= `OR` or `AND`\n",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531315250",
            "description": "timestamp of token expiry"
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "description": "access token type"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid"
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "verified",
            "description": "If `true` system will send verified reflections"
          },
          {
            "schema": {
              "type": "string",
              "default": "en"
            },
            "in": "query",
            "name": "lang",
            "description": "Comma separated list of iso codes of languages, use this if you want to fetch posts in specific language."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "updated_since",
            "description": "Get posts that are updated after given date"
          },
          {
            "schema": {
              "type": "boolean",
              "default": "false"
            },
            "in": "query",
            "name": "exact_ayah",
            "description": "Get post for exact ayah, normally system will include posts for ayah range"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "within_range",
            "description": "Get posts for ayahs that are within give filter range"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "description": "See above description "
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "scholar",
            "description": "Include scholars post"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "student",
            "description": "Include student of knowledge member's post"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "verified",
            "description": "shortcut if you need posts from scholars and student of knowledge members"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "following",
                "draft",
                "favorite",
                "most_popular",
                "only_room_members",
                "public",
                "feed"
              ]
            },
            "in": "query",
            "name": "tab",
            "description": "see description about tab above"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "object",
                      "properties": {
                        "posts": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Post"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-0": {
                    "summary": "Get posts API not member in group",
                    "value": {
                      "success": false,
                      "message": "You are not member of this group!"
                    }
                  },
                  "example-2": {
                    "summary": "HomePage Posts Api",
                    "value": {
                      "posts": {
                        "posts": [
                          {
                            "id": 8,
                            "body": "<div>The most interesting thing about this verse is that it's not only telling us to use our talents for a higher purpose, but it's also telling &nbsp;us that we can make money and a worldly benefit in the process.</div>",
                            "likes": 9,
                            "draft": false,
                            "published_at": "December 28, 2016 06:27",
                            "room_id": null,
                            "global": true,
                            "editable": false,
                            "deletable": false,
                            "reportable": null,
                            "citation_texts": {
                              "0": [
                                {
                                  "id": 22037,
                                  "citation_id": 29,
                                  "number": 77,
                                  "text": "But seek, through that which Allah has given you, the home of the Hereafter; and [yet], do not forget your share of the world. And do good as Allah has done good to you. And desire not corruption in the land. Indeed, Allah does not like corrupters.\"",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "language": "ENGLISH",
                            "detected_translation": 5,
                            "views": 439,
                            "group": null,
                            "group_link": null,
                            "comments": [
                              {
                                "id": 127,
                                "body": "",
                                "is_private": false,
                                "created_at": "2018-08-07T09:40:38.000Z",
                                "comment_policy_show": true,
                                "author": {
                                  "id": 11,
                                  "username": "amerabbas",
                                  "name": "Amer Abbas",
                                  "verified": false,
                                  "profile_img": "/system/users/avatars/000/000/011/original/data?1533416312",
                                  "followed": false
                                }
                              }
                            ],
                            "trimmed_citation_texts": {
                              "0": [
                                {
                                  "id": 22037,
                                  "citation_id": 29,
                                  "number": 77,
                                  "text": "But seek, through that which Allah has given you, the home of the Hereafter; and [yet], do not forget your share of the world. And do good as Allah has done good to you. And desire not corruption in the land. Indeed, Allah does not like corrupters.\"",
                                  "translation_id": 5
                                }
                              ]
                            },
                            "author": {
                              "id": 12,
                              "username": "hizzeldin",
                              "name": "Hisham Izzeldin ",
                              "verified": false,
                              "profile_img": null,
                              "followed": false
                            },
                            "filters": [
                              {
                                "id": 211,
                                "from": 77,
                                "to": 77,
                                "indicator_text": null
                              }
                            ],
                            "tags": [
                              {
                                "id": 10,
                                "name": "Personal Development"
                              }
                            ]
                          }
                        ]
                      },
                      "pages": 41
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/missing-apikey-response"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "post-list"
      }
    },
    "/v1/posts/{post_id}": {
      "put": {
        "summary": "Update Post API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "post": {
                      "body": "I love #Quran",
                      "draft": "0",
                      "tag_ids": [
                        "5"
                      ],
                      "filters_attributes": [
                        {
                          "chapter_id": "4",
                          "from": "",
                          "to": ""
                        },
                        {
                          "chapter_id": "3",
                          "from": "1",
                          "to": "1"
                        },
                        {
                          "chapter_id": "6",
                          "from": "8",
                          "to": "11"
                        }
                      ]
                    }
                  }
                },
                "properties": {
                  "post": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "post body"
                      },
                      "draft": {
                        "type": "boolean",
                        "default": false
                      },
                      "tag_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "filters_attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chapter_id": {
                              "type": "string"
                            },
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "room_id": {
                        "type": "integer"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "post": {
                      "body": "I love #Quran",
                      "draft": "0",
                      "tag_ids": [
                        "5"
                      ],
                      "filters_attributes": [
                        {
                          "chapter_id": "4",
                          "from": "",
                          "to": ""
                        },
                        {
                          "chapter_id": "3",
                          "from": "1",
                          "to": "1"
                        },
                        {
                          "chapter_id": "6",
                          "from": "8",
                          "to": "11"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "client access token"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531163311",
            "required": true,
            "description": "timestamp of token expiry "
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "required": true,
            "description": "access token type"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "required": true,
            "description": "user uid "
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-post-response"
          }
        },
        "operationId": "v1-post-update",
        "tags": [
          "Posts"
        ],
        "description": "Use this api to update existing post of author, please see `Create post` api for documention request params/body.\n"
      },
      "delete": {
        "summary": "Delete Post API",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531163311",
            "description": "timestamp of token expiry",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "description": "access token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "Post was successfully removed."
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string",
                      "default": "Post was successfully removed."
                    }
                  }
                },
                "example": {
                  "success": true,
                  "message": "Post was successfully removed."
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": true,
                      "message": "Post was successfully removed."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "v1-delete-post",
        "description": "Delete existing post of user"
      },
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "post_id",
          "in": "path",
          "required": true,
          "description": "post id"
        }
      ],
      "get": {
        "summary": "Get post detail",
        "operationId": "get-v1-posts-post_id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-post-response"
          }
        },
        "description": "Get detail of single post using the post Id.\n\n> NOTE: `access-token`, `client` and other auth headers are optional for this api. But you'll need to provide these headers if need to access `private notes` or private room post of author.",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "access-token",
            "description": "user access token"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client",
            "description": "client access token"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "expiry",
            "description": "timestamp of token expiry"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "token-type",
            "description": "access token type"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "uid",
            "description": "user uid"
          }
        ],
        "tags": [
          "Posts"
        ]
      }
    },
    "/v1/posts/{post_id}/report": {
      "post": {
        "summary": "Report Post API",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "access-token",
            "description": "user access token",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client",
            "description": "client access token",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "expiry",
            "required": true,
            "description": "timestamp of token expiry"
          },
          {
            "schema": {
              "type": "string",
              "default": "Bearer",
              "example": "Bearer"
            },
            "in": "header",
            "name": "token-type",
            "description": "access token type",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "uid",
            "description": "user uid",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "The post was reported successfully."
                    }
                  }
                },
                "examples": {
                  "example-0": {
                    "summary": "Report Post API (success true) (abuse options: [\"Offensive language\", \"Inappropriate content\", \"Other\"])",
                    "value": {
                      "success": true,
                      "message": "The post was reported successfully."
                    }
                  },
                  "example-1": {
                    "summary": "Report Post API (success false)",
                    "value": {
                      "success": false,
                      "message": "Some thing went wrong, please try again later!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "v1-post-report",
        "description": "The report post API allows users to report inappropriate or abusive content in a post to the system administrators. This can help to maintain a safe and respectful environment for all users.\n\n> NOTE: You can get list of \"report reasons\" using [**Get post report reasons**](/docs/quranreflect_versioned/v-1-post-report-option) api.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-examples": {
                  "Example 1": {
                    "report": {
                      "abuse": "Offensive language",
                      "comments": "report this post"
                    }
                  }
                },
                "properties": {
                  "report": {
                    "type": "object",
                    "properties": {
                      "abuse": {
                        "type": "string",
                        "description": "Report reason"
                      },
                      "comments": {
                        "type": "string",
                        "description": "user comments"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example 1": {
                  "value": {
                    "report": {
                      "abuse": "Offensive language",
                      "comments": "report this post"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "post_id",
          "in": "path",
          "required": true,
          "description": "post id"
        }
      ]
    },
    "/v1/posts/post_abuses_options": {
      "get": {
        "summary": "Get post report reasons",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "abuses_options": [
                        "Offensive language",
                        "Inappropriate content",
                        "Other"
                      ]
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "abuses_options": {
                      "type": "array",
                      "description": "list of report reasons",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "abuses_options": [
                    "Offensive language",
                    "Inappropriate content",
                    "Other"
                  ]
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": true,
                      "abuses_options": [
                        "Offensive language",
                        "Inappropriate content",
                        "Other"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "tags": [
          "Posts"
        ],
        "operationId": "v1-post-report-option",
        "parameters": [
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "description": "The \"get post report reasons\" API allows users to retrieve a list of available report reasons for a post. This can help to provide context for users who want to report a post and ensure that they select an appropriate reason."
      }
    },
    "/v1/users/{username}": {
      "get": {
        "summary": "Get logged in user profile and posts",
        "responses": {
          "200": {
            "$ref": "#/components/responses/user-profile-response"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "User not found with given username",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "get-user-profile-posts",
        "description": "This API endpoint allows retrieving the profile details of a logged in user, user's posts, pages, followers count etc. \n\nThe `tab` parameter is used in the API to allow users to customize their results. By passing different values to tab in the API endpoint, users can fetch posts that meet specific criteria, such as the most popular or latest posts, or posts created by a specific user. Following table explain the tab value and expected results.\n\nFor some `tab` value, user need to be logged in otherwise system will return an empty array. \n\n \n tab value | Explanation | Required user login\n---------|----------|---------\n newest  | recent posts at top | No\n following | return reflections of authors that current user is following | Yes\n draft | returns current user's private notes | Yes\n favorite | returns current user's favorite posts | Yes\n most_popular | `default` tab value. Return most popular posts | No \n\n",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "access-token",
            "description": "user access token",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "client",
            "description": "client token",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "expiry",
            "required": true,
            "description": "timestamp of token expiry date"
          },
          {
            "schema": {
              "type": "string",
              "example": "Bearer",
              "default": "Bearer"
            },
            "in": "header",
            "name": "token-type",
            "description": "access token type",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "uid",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "following",
                "favorite",
                "newest",
                "most_popular"
              ]
            },
            "in": "query",
            "name": "tab"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "username",
          "in": "path",
          "required": true,
          "description": "username of user"
        }
      ]
    },
    "/v1/users/{username}/toggle_follow": {
      "post": {
        "summary": "Toggle Follow for user",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1537100004",
            "description": "timestamp of access token expiry date",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer",
              "example": "Bearer"
            },
            "example": "Bearer",
            "description": "token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "followed": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "followed": false
                    }
                  }
                },
                "example": {
                  "success": true
                },
                "examples": {
                  "follow": {
                    "value": {
                      "followed": true
                    }
                  },
                  "unfollow": {
                    "value": {
                      "followed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/missing-apikey-response"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "success": false,
                      "message": "Invalid Users"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "users-toggle-follow",
        "description": "This API endpoint allows the authenticated user to toggle their follow status for another user by sending a POST request with the target user's username. If the user is already following the target user, sending the same request will unfollow the user, and vice versa.\n\nSystem will return found error if target user is not found. "
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "username",
          "in": "path",
          "required": true,
          "description": "target user's username"
        }
      ]
    },
    "/v1/users/{username}/follow": {
      "put": {
        "summary": "Follow user api",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1537100004",
            "description": "timestamp of access token expiry date",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer",
              "example": "Bearer"
            },
            "example": "Bearer",
            "description": "token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "followed": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "followed": false
                    }
                  }
                },
                "example": {
                  "success": true
                },
                "examples": {
                  "default": {
                    "value": {
                      "followed": true
                    }
                  },
                  "already following": {
                    "value": {
                      "success": false,
                      "followed": true,
                      "message": "@user is already followed by you."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "v1-users-follow",
        "description": "This API endpoint allows the authenticated user to follow another user by sending a POST request with the target user's username.\n\nSystem will return not found error if target user is not found. "
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "username",
          "in": "path",
          "required": true,
          "description": "target user's username"
        }
      ]
    },
    "/v1/users/{username}/unfollow": {
      "post": {
        "summary": "Un-follow user api",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1537100004",
            "description": "timestamp of access token expiry date",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "Bearer",
              "example": "Bearer"
            },
            "example": "Bearer",
            "description": "token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "followed": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "followed": false
                    }
                  }
                },
                "example": {
                  "success": true
                },
                "examples": {
                  "follow": {
                    "value": {
                      "followed": true
                    }
                  },
                  "unfollow": {
                    "value": {
                      "followed": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                },
                "examples": {
                  "Not found": {
                    "value": {
                      "success": false,
                      "message": "Invalid User"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ],
        "operationId": "users-un-follow",
        "description": "This API endpoint allows the authenticated user to unfollow another user by sending a POST request with the target user's username."
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "username",
          "in": "path",
          "required": true,
          "description": "target user's username"
        }
      ]
    },
    "/v1/groups/{group_id}/assign_as_admin": {
      "post": {
        "summary": "Assign group admin api",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token",
            "required": true
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531315250",
            "description": "timestamp of token expiry ",
            "required": true
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "description": "access token type",
            "required": true
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid",
            "required": true
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "User amerabbas has been assigned as admin."
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": true
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "examples": {
                  "unauthorize": {
                    "summary": "Assign as admin in group settings (success false)",
                    "value": {
                      "success": false,
                      "message": "Unauthorized request. require page admin role."
                    }
                  },
                  "success": {
                    "summary": "Assign as admin in group settings (success true)",
                    "value": {
                      "success": true,
                      "message": "User amerabbas has been assigned as admin."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "status": 404,
                      "success": false,
                      "error": "Couldn't find Room with 'id'=1"
                    }
                  },
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                },
                "examples": {
                  "room not found": {
                    "value": {
                      "status": 404,
                      "success": false,
                      "error": "Couldn't find Room with 'id'=1"
                    }
                  },
                  "user not found ": {
                    "value": {
                      "success": false,
                      "message": "User not found."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Rooms/Group"
        ],
        "operationId": "v1-groups-assign-admin",
        "description": "The \"assign group admin\" API allows group owners to assign an existing group member as an admin. Group admins can perform actions such as inviting new members, removing members, and updating group info.\n\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "id of user "
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "group_id",
          "in": "path",
          "required": true,
          "description": "group id"
        }
      ]
    },
    "/v1/groups": {
      "get": {
        "summary": "Groups List API",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "user access token"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "client access token"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531312879",
            "required": true,
            "description": "timestamp of token expiry"
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "required": true,
            "description": "access token type"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "required": true,
            "description": "usr uid"
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/room-index-response"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        },
        "tags": [
          "Rooms/Group"
        ],
        "operationId": "v1-room-index",
        "description": "The \"get groups\" API allows users to retrieve a list of groups and pages that they are a member of."
      }
    },
    "/v1/groups/{group_id}/remove_user": {
      "post": {
        "summary": "Remove group member api",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token",
            "required": true
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "client access token"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531315250",
            "required": true,
            "description": "timestamp of token expiry "
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "required": true,
            "description": "access token type"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "required": true,
            "description": "user uid"
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "success": true,
                      "message": "User ali_ghoraba has been removed from page."
                    }
                  }
                },
                "examples": {
                  "member removed": {
                    "summary": "Remove User from groups API (success false)",
                    "value": {
                      "success": true,
                      "message": "User Naveed has been removed from page."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "tags": [
          "Rooms/Group"
        ],
        "operationId": "v1-room-remove-member",
        "description": "The \"remove group member\" API allows a group admin to remove a member from a group. This can help group admins to manage their group membership and ensure that the group is only accessible to authorized members.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "id of user to be removed"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "group_id",
          "in": "path",
          "required": true,
          "description": "group id"
        }
      ]
    },
    "/v1/search/search_items": {
      "post": {
        "summary": "Search filters",
        "description": "The \"search filters\" API allows users perform multisearch for different filters, e.g search for users, tags, surah, ayah or ayah ranges.\n\nThis api is just like search, only difference is you can search using multiple queries and this is a POST request instead of GET.\n\nEach search query follow the following format:\n\n- If the search query starts with \"#\" (hashtag), the API will search for matching tags.\n- If the search query starts with \"@\" (at sign), the API will search for matching usernames.\n- Otherwise, the API will search for matching text in translations.\n\n\n> Auth header are optional, but if you're searching in user group/page then you'll need to provide the auth headers as well.\n",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "user access token"
          },
          {
            "name": "client",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "client access token"
          },
          {
            "name": "expiry",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "1531315250",
            "description": "timestamp of token expiry "
          },
          {
            "name": "token-type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "Bearer",
            "description": "access token type"
          },
          {
            "name": "uid",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "user@quranreflect.com",
            "description": "user uid"
          },
          {
            "$ref": "#/components/parameters/protected-resource-query-params"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "description": "user search result item",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "user id"
                          },
                          "text": {
                            "type": "string",
                            "description": "username"
                          },
                          "full_text": {
                            "type": "string",
                            "description": "full name with username"
                          },
                          "avatar": {
                            "type": "string",
                            "description": "url avatar url"
                          },
                          "collection": {
                            "type": "string",
                            "default": "authors"
                          }
                        }
                      },
                      {
                        "description": "tag search result item\n",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
[...]
